*.log
*.txt

mace/codegen/models/

tools/dana/__pycache__
tools/__pycache__
tools/python/py_proto/__pycache__
tools/python/quantize/__pycache__
tools/python/__pycache__
tools/python/utils/__pycache__
tools/python/visualize/__pycache__
tools/python/transform/__pycache__
mace/python/tools/__pycache__

bazel-bin
bazel-genfiles
bazel-mace-master
bazel-mace-fcver
bazel-out
bazel-testlogs
build/

.vscode/

